/* large view navigation ************************************/

@media (min-width: 37.5em) {

	h1 {
		font-size: 2rem;
		margin-left: 0;
		text-align: center;
	}

	h2 {
		font-size: 1.7rem;
		text-align: center;
	}

	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
        justify-content: space-evenly;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
        padding: .2rem;
	}


    nav {
        background-color: #e3e8e6e2;
        display: block;
        flex-direction: column;
        margin-right: 20px;
        align-items: center;
    }
    
    nav a {
        display: block;
        color: #1f386e;
        text-align: center;
        padding: .1rem;
        text-decoration: none;
    }

    figure {
        padding: 0px;
    }
    
    
    figcaption {
        font-size: var(--fontSizeMd);
        text-align: left;
        color: #250303;
        font-weight: bold;

    }
    
    figure p {
        font-size: var(--gutterMd);
        color: #666;
        padding-top: .4rem;
        line-height: 1.1rem;
    }
}

@media (min-width: 541px) {
    main {
        grid-template-columns:auto;
    }

    .container {
        display:grid;
        grid-template-columns: 1fr 60%;
        grid-gap: 5px;
        place-items: center;
        margin: 2rem;

    }

    section {
        margin: 1rem; 
        max-width: 500px;
    }

    /* SKILL CLASS STARTS HERE  */
    .portfolio-details-class {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
        place-items: center;
        padding: .1rem 2rem;
        margin-bottom: 2rem;

    }
    

    .portfolio-details-class img {
        max-width: 100%;
        height: auto;
        margin: 1rem auto;
        padding: 1rem;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    }
    
    figure {
        padding: 10px;
    
    }
    
    
    figcaption {
        font-size: var(--fontSizeMd);
        text-align: left;
        color: #250303;
        font-weight: bold;
        line-height: 1.5rem;

    }
    
    figure p {
        font-size: var(--gutterMd);
        color: #666;
        padding-top: .4rem;
        line-height: 1.1rem;
    }
    /* HOVER EFECT */
    .hover{
        box-shadow: 0 0 50px #333;
        border-radius: 10px 0 0 0;
        border: 5px solid #FFF;
        margin: auto;
    }


}
@media (min-width: 769px) {
	header {
		display: flex;
		align-items: center;
		justify-content:space-around;
        padding: 0px;

	}

    
    header h1 {
        font-size: 1.6rem;
        padding: .8rem;
        line-height: 1.8rem;
    }
    header h2 {
        font-size: 1rem;
    }


	nav {
		
        background-color: #e3e8e6e2;
        display: flex; 
        flex-direction: column;
        justify-content:space-around;
        margin-right: 10px;
        width: 600px;
        align-items: center;
	}
	nav a {
		flex: 1 1 100%;
	}

    #connect-us {
        padding: 0%;
    }
    
    .connect-us-content {
        background-color: #1f386e;
        color: #fff;
        display:grid;
        grid-template-columns: 2fr  1fr;
        grid-template-rows: auto;
        grid-gap: 10px;
        place-items: center;
        padding: .5rem 2rem; 

    }
    
    
    .connect-us-content h2 {
        margin-top: 0;
        font-size: var(--gutterLg);
        text-align: center;
    }
    .connect-us-content h3 {
        margin: .1rem 2rem;
        font-size: var(--fontSizeMd);
        text-align: left;
    }
    
    .connect-us-content p {
        margin-top: .2rem;
        font-size: var(--gutterMd);
        padding: auto;
        color: wheat;
    
    }

    /* SKILL AS SKL STARTS HERE  */
    
    #skl {
        padding: 0%;
    }
    
    .skl-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
        grid-gap: 15px; 
        background-color: #1f386e;
        color: #fff;
        grid-template-rows: auto;
        place-items: center;
        padding: .5rem 2rem; 
    }

    .skl-row {
        margin: auto;
    }
    
    .skl-row, ul li {
        display: block;
        color: #f8f8f8;
        padding: .1rem 2rem;
        margin: .1rem auto;
        font-size: var(--gutterMd);
        line-height: 1.3rem;
     
    }
    
    .skl-content h2 {
        margin-top: 0;
        font-size: var(--gutterLg);
        text-align: left;
        line-height: normal;
    }
    .skl-content h3 {
        margin: .1rem .1rem;
        font-size: var(--gutterMd);
        text-align: left;
        line-height: normal;
        padding: .4rem;
    }
    
    .skl-content p {
        margin: .1rem .1rem;
        font-size: var(--gutterMd);
        padding: .4rem;
        color: #dad8d6;
        text-shadow: 1px 1px 2px #282626;
    
    }

    /* SKILL AS SKL ENDS HERE  */
    #portfolio {
        padding: 0%;
    }
    
    .portfolio-content {
        background-color: #1f386e;
        color: #fff;
        display:grid;
        grid-template-columns: 1fr  2fr;
        grid-template-rows: auto;
        grid-gap: 20px;
        place-items: center;
        padding: .1rem 2rem; 
    }
    
    .row-portfolio {
        margin: auto;
        padding: .2rem 1rem;
        text-shadow: 1px 1px 2px #282626;
    }
    
    .portfolio-content h2 {
        margin-top: 0;
        font-size: var(--gutterLg);
        text-align: center;
    }
    .portfolio-content h3 {
        margin: .1rem 0;
        font-size: var(--fontSizeLg);
        text-align: left;
    }
    
    .portfolio-content p {
        margin-top: 0;
        font-size: var(--gutterMd);
        line-height: 1.2rem;
        text-align: left;
        padding: auto;
        color: wheat;
        
    
    }
    

    .form-grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
        grid-gap: 15px;
        place-items: center;
        padding: 20px 40px;
    }
    section {
        margin: 2rem auto; 
        max-width: 700px;
    }

    .container .form-card {
        margin: 30px;
        padding: 30px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .form-card img {
        width: 100%;
        height: auto;
        object-fit: cover;

    }

    .form-card h2 {
        margin-top: 0;
    }

    .container .about-details {
        margin: 1rem;
        padding: .5rem 2rem .2rem;

    }
    .about-details img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .about-details h2 {
        margin-top: 0;
    }
    /* SKILL CLASS STARTS HERE  */
    .portfolio-details-class {
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
        place-items: center;
        padding: .1rem 1rem;
        margin: auto;

    }

    figure {
        color:rgb(36, 17, 78);
        padding: 10px;
    }
    figure img {
        margin: auto;
        padding: 20%;
        width: 80%;
        display: inline;
    }

    figcaption {
        font-size: var(--fontSizeMd);
        text-align: left;
        color: #333;
        font-weight: bold;
        line-height: 1.3rem;
    }
    
    figure p {
        font-size: var(--gutterMd);
        color: #666;
        padding-top: .4rem;
        line-height: 1.1rem;
        
        
    }


    .form-grid-container .form-card {
        margin: 30px;
        padding: 30px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .form-card img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .form-card h2 {
        margin-top: 0;
    }

    .form-grid-container .address-details {
        margin: 10px;
        padding: 30px;
 
    }
    .address-details img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .address-details h2 {
        margin-top: 0;
    }

}


@media (min-width: 820px) {
    .welcome-class {
        display: grid;
        grid-template-columns: 1fr;   
        grid-gap: 1rem;
        transform: translateX(-50%);
        padding: 1rem;
        max-width: 100%; 
        background: #00000073;
        box-shadow: 1px 20px 20px 30px rgba(2, 2, 1, 0.591);
    }

    .welcome-class img {
        max-width: 250px;
        padding: 1rem;
        border-radius: 10px;
    }
    .welcome-class h1 {
        font-family: 'Montserrat', sans-serif;
        color: #fff;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 2.5rem;
        margin: auto;
        text-shadow: 0 0 15px #00000080;
        text-align: left;
        padding: 1rem;
    }
    
    .welcome-class p {
        color: #fff;
        font-size: var(--fontSizeSm);
        line-height: 1.4rem;
        padding: 0 1rem;
        max-width: 600px;
        margin: 0 auto;
        text-align: left;   
    }   
}

@media (min-width: 500px) {
    .welcome-class {
        grid-template-columns: 60% 40%; 
        top: 10%; 
    }
    .welcome-class img {
        padding: .5rem;
        border-radius: 3rem;

    }
    .welcome-class h1 {
        color: #fff;
        font-size: 1.5rem;
        line-height: normal;
    }
    .welcome-class p {
        font-size: var(--gutterMd);
        line-height: normal;
    }
}

@media (min-width: 1000px) {
    .welcome-class {
        grid-template-columns: 60% 40%; 
        top: 10%; 
    }
    .welcome-class img {
        padding: .5rem;
        border-radius: 5rem;
    }
    .welcome-class h1 {
        color: #fff;
        font-size: 2.5rem;
        line-height: normal;
    }
}

@media (min-width: 600px) {
    .form-grid-container {
        grid-template-columns: 40% 1fr; 
        grid-template-rows: auto;
    }
}


