
/* Larger Views ******************************/

/* large view navigation ************************************/
@media (min-width: 37.5em) {
	h1 {
		font-size: 2rem;
		margin-left: 0;
		text-align: center;
	}

	h2 {
		font-size: 1.7rem;
		text-align: center;
	}

	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
        justify-content: space-evenly;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}


    nav {
        background-color: #14485f;
        display: block;
        flex-direction: column;
        margin-right: 20px;
        /* width: 700px; */
        align-items: center;
    }
    
    nav a {
        display: block;
        color: #fff;
        text-align: center;
        padding: 1rem;
        text-decoration: none;
    }
}

@media (min-width: 541px) {
    main {
        grid-template-columns:auto;
    }
    .container {
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
        place-items: center;
    }
    section {
        margin: 1rem; 
        max-width: 960px;
    }
    img {
        padding: 0px;
    }
    
    figure {
        /* background-color:#fff; */
        padding: 1px;
        color: brown;
    }
    
    .card {
        display: inline-block;
        margin: 10px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 280px;
    }

    .card img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
    }

    .card h2 {
        margin-top: 0;
    }

}
@media (min-width: 769px) {
	header {
		display: flex;
		align-items: center;
		justify-content:space-around;
        padding: 0px;
	}

	nav {
		justify-content:space-around;
		flex-direction: row;
        background-color: #14485f;
        display: flex; 
        flex-direction: column;
        margin-right: 20px;
        width: 600px;
        align-items: center;
	}
	nav a {
		flex: 1 1 100%;
	}
    main {
        grid-template-columns:auto;
    }


    section {
        margin: 1rem auto; 
        max-width: 960px;
    }
    figure {
        /* background-color:#fff; */
        padding: 1px;
        color:rgb(28, 28, 230);
    }
    .container {
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-columns: auto;
        grid-gap: 15px;
        place-items: center;
    }
    .container .card {
        /* display: block; */
        margin: 10px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      .card img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
      }
    
      .card h2 {
        margin-top: 0;
      }

}



